<!DOCTYPE html>
<html>
<head>
    <title>Startup Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="navbar">
        <div class="logo">🚀 StartupStore</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/cart">Cart</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/logout">Logout</a>
            {% if session.get('is_admin') %}
            <a href="/add_product">Add Product</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>